*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html.body{
    width: 100%;
    height: 100%;
}
/* 
body::-webkit-scrollbar{
    display: none;
} */

.main{
    width: 100vw;
    height: 120vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.innerbox{
    width: 80px;
    height: 40px;
    padding: 10px 15px;
    background-color: blue;
    box-shadow: 0 0 6px whitesmoke;
    margin: 5px 0;
    border-radius: 3px;
}

.innerbox{
    position: relative;
}
.innerbox:nth-child(odd){
    animation: oddd .4s linear ;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: .7s;
}
.innerbox:nth-child(even){
    animation: even .4s linear ;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: .7s;
}

.lastbox{
    position: relative;
    width: 80px;
    height: 40px;
    padding: 10px 15px;
    background-color: red;
    color: whitesmoke;
    margin: 5px 0;
    box-shadow: 0 0 6px whitesmoke;
    border-radius: 3px;
    right: 0;
    transition: right linear .4s;
}

@keyframes oddd{
    from{
        right: 100%;
    }
    to{
        right: 0;
    }
}

@keyframes even{
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}